@model Content_Management_System.Models.Language
@{
    ViewBag.Title = "LanguageForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Create
            <small>Item</small>
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-6">
                <!-- general form elements -->
                <div class="box box-primary">
                    <!-- form start -->

                    @using (Html.BeginForm("Save", "Languages"))
                    {
                        <div class="box-body">
                            <div class="form-group">
                                @Html.LabelFor(l => l.Name)
                                @Html.TextBoxFor(l => l.Name, new { @class = "form-control", placeholder = "Enter..." })
                            </div>
                            <div class="form-group">
                                <label>
                                    @Html.CheckBoxFor(l => l.IsActive, new { @class = "minimal" }) Is Active
                                </label>
                            </div>
                            
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            @Html.HiddenFor(l => l.Id)
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    }
                </div>
                <!-- /.box -->
            </div>
            <!--/.col (left) -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->